.Post {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 75px;
}

.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 35 px;
  width: 70%; 
  margin: auto;
  padding: 20px 40px;
}

.Nav-logo {
  display: block;
  background-position: 0px 0px;
  background-image: url(../../resource/logo_main.png);
  background-size: 177px 35px;
  background-repeat: no-repeat;
  height: 35px;
  width: 20%;
  text-indent: -1000%
}

.Nav-gallery {
  background-position: 0px 5px;
  background-image: url(../../resource/icon_compass.png);
  background-size: 28px 28px;
  background-repeat: no-repeat;
  height: 35px;
  width: 6%;
  text-indent: -1000%;
}

.Nav-favorite {
  background-position: 0px 5px;
  background-image: url(../../resource/icon_whiteheart.png);
  background-size: 28px 28px;
  background-repeat: no-repeat;
  height: 35px;
  width: 6%;
  text-indent: -1000%;
}

.Nav-profile {
  background-position: 0px 5px;
  background-image: url(../../resource/icon_person.png);
  background-size: 28px 28px;
  background-repeat: no-repeat;
  height: 35px;
  width: 6%;
  text-indent: -1000%;
}

.Nav-space {
  height: 35px;
  width: 62%;
}