.Ports {
  background-color: #fafafa;
  position:absolute;
  top: 71px;
  height: 100%;
  width: 100%;
}

.Port {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position:absolute;
  top: 140px;
  height: 750px;
  width: 43%;
  left:17%;
}

.Port-head {
  display: absolute;
  border-radius: 6px;
  background-color: #ffffff;
  flex-direction: row;
  height: 59px;
  width: 100%; 
}

.Port-name {
  display: absolute;
  flex-direction: row;
  height: 30px;
  position: absolute;
  top: 7px;
  left: 65px; 
  font-weight: 600;
  font-size: 15px;
}

.Port-photo {
  border-radius: 50%;
  background-image: url(../../resource/logo_whova.png);
  background-size: 45px 45px;
  position: absolute;
  top: 7px;
  height: 45px;
  width: 45px; 
  left: 15px;
}

.Port-image {
  position: absolute;
  top: 60px;
  max-height: 500px;
  width: 100%; 
  left: 0px;
}

.Port-button {
	border: none;
	height: 40px;
	width: 40px;
	outline: none;
}

.Port-button-small {
	border: none;
	height: 25px;
	width: 25px;
	outline: none;
	position: relative;
	left:-30px;
}

.Port-comment {
  display: flex;
  position: relative;
  height: 25px;
  width: 100%;
  font-size: 15px;
  left: 120px;
}

.Port-addcomment {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  outline: none;
  height: 40px;
  width: 99%;
  bottom: 0px;
  font-size: 15px;
}

.Port-post {
  outline:none;
  position: absolute;
  right: 5px;
  height: 35px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10%;
  background-color: #5898e9;
  
}